extends layout

block content
 .jumbotron
      .container
        h1 #{title}
        p
          | Memiliki PC atau Komputer yang Rusak ? Segara Hubungi kami untuk memperbaikinya
        p
          a.btn.btn-primary.btn-lg(href='/kontak', role='button') Cek Kontak Kami &raquo;
    .container
      .row
        .col-md-4
          h2 Re-Install OS
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#', role='button') View details &raquo;
        .col-md-4
          h2 Virus Removal
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#', role='button') View details &raquo;
        .col-md-4
          h2 Masalah Hardware
          p
            | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          p
            a.btn.btn-default(href='#', role='button') View details &raquo;